[submodule "pip-webui-test"]
	path = pip-webui-test
	url = https://github.com/pip-webui/pip-webui-test.git
[submodule "pip-webui-lib"]
	path = pip-webui-lib
	url = https://github.com/pip-webui/pip-webui-lib.git
[submodule "pip-webui-css"]
	path = pip-webui-css
	url = https://github.com/pip-webui/pip-webui-css.git
[submodule "pip-webui-core"]
	path = pip-webui-core
	url = https://github.com/pip-webui/pip-webui-core.git
[submodule "pip-webui-rest"]
	path = pip-webui-rest
	url = https://github.com/pip-webui/pip-webui-rest.git
[submodule "pip-webui-controls"]
	path = pip-webui-controls
	url = https://github.com/pip-webui/pip-webui-controls.git
[submodule "pip-webui-locations"]
	path = pip-webui-locations
	url = https://github.com/pip-webui/pip-webui-locations.git
[submodule "pip-webui-pictures"]
	path = pip-webui-pictures
	url = https://github.com/pip-webui/pip-webui-pictures.git
[submodule "pip-webui-nav"]
	path = pip-webui-nav
	url = https://github.com/pip-webui/pip-webui-nav.git
[submodule "pip-webui-layouts"]
	path = pip-webui-layouts
	url = https://github.com/pip-webui/pip-webui-layouts.git
[submodule "pip-webui-documents"]
	path = pip-webui-documents
	url = https://github.com/pip-webui/pip-webui-documents.git
[submodule "pip-webui-composite"]
	path = pip-webui-composite
	url = https://github.com/pip-webui/pip-webui-composite.git
[submodule "pip-webui-errors"]
	path = pip-webui-errors
	url = https://github.com/pip-webui/pip-webui-errors.git
[submodule "pip-webui-entry"]
	path = pip-webui-entry
	url = https://github.com/pip-webui/pip-webui-entry.git
[submodule "pip-webui-settings"]
	path = pip-webui-settings
	url = https://github.com/pip-webui/pip-webui-settings.git
[submodule "pip-webui-help"]
	path = pip-webui-help
	url = https://github.com/pip-webui/pip-webui-help.git
[submodule "pip-webui-guidance"]
	path = pip-webui-guidance
	url = https://github.com/pip-webui/pip-webui-guidance.git
[submodule "pip-webui-support"]
	path = pip-webui-support
	url = https://github.com/pip-webui/pip-webui-support.git
[submodule "pip-webui-all"]
	path = pip-webui-all
	url = https://github.com/pip-webui/pip-webui-all.git
